img.medium-img(src="./images/github-logo.png")

h2 Slides and source available on GitHub

a(href="https://mike-plummer.github.io/cypress-presentation")
  p https://mike-plummer.github.io/cypress-presentation

a(href="https://www.github.com/mike-plummer/hangman")
  p https://www.github.com/mike-plummer/hangman