h2 Awesomeness
ul
    li.fragment Uses well-known Mocha + Chai + Sinon stack
    li.fragment Auto-waiting to reduce flake
    li.fragment Debuggable
    li.fragment Sweet test runner with Time Travel
    li.fragment Supports headless testing (run tests on CI)
    li.fragment Improved browser control
    li.fragment Able to mock network requests & the clock

video.fragment(
    autoplay,
    loop,
    muted,
    src="./images/amazed.mp4",
    style={
      position: 'absolute',
      top: 0,
      bottom: 0,
      left: 0,
      right: 0,
      margin: 'auto',
      width: '100%'
    }
)