h2 Awesomeness
ul
    li.fragment Uses well-known Mocha + Chai + Sinon stack
    li.fragment Debuggable
    li.fragment Auto-waiting to reduce flake
    li.fragment Sweet test runner with Time Travel
    li.fragment Supports headless testing (run tests on CI)
    li.fragment Improved browser control
    li.fragment Able to mock network requests
