h2 Limitations
ul
    li.fragment Single browser instance, single tab
    li.fragment Each test can only access a single domain (no jumping between sites)
    li.fragment More difficult to use existing common/server-side code like you could in Selenium
    li.fragment Currently only supports Chromium/Chrome (but that's changing!)