h2 What is an E2E test?
ul
  li.fragment Test your application in a 'live' state
  li.fragment Test as a user
  li.fragment Usually has external dependencies
  li.fragment Typically slower
  li.fragment Typically more brittle
