h2 What do they buy us?
ul
  li.fragment User-level tests are a good smoke test of the app
  li.fragment Validate display & functionality in multiple browsers
  li.fragment User-level tests are of more interest to QA, BA's
