h2 What is an automated test?
ul
  li.fragment Minimal manual intervention
  li.fragment Idempotent, independent
  li.fragment Typically test in a deployed state
  li.fragment Usually has external dependencies
  li.fragment Typically slower
  li.fragment Typically more brittle
