h2 Common Problems
ol
  li.fragment Require manual intervention (kickoff, special environment, data reset)
  li.fragment Non-idempotent
  li.fragment Interdependent
  li.fragment External dependencies (data, auth)
  li.fragment Cross-browser compatibility
