h2 Organizing Tests

p Typically tests either:

ol
  li.fragment Test a single flow, start to finish
    ul
      li Login/Logout
      li  Step through a wizard
  li.fragment Test all states of a single element
    ul
      li Validate submit button for a form
