h2 What's the result?

ol
  li.fragment Tests are flaky, so they're ignored
  li.fragment Tests are hard to maintain, so they're turned off
  li.fragment Tests are hard to set up, so they're never run