h2 What's the result?

ol
  li.fragment Tests are flaky, so they're ignored
  li.fragment Tests are hard to maintain, so they're never updated
  li.fragment Tests are hard to set up, so they're never run

video.fragment(
  autoplay,
  loop,
  muted,
  src="./images/sad.mp4",
  style={
    position: 'absolute',
    top: 0,
    bottom: 0,
    left: 0,
    right: 0,
    margin: 'auto',
    width: '100%'
  }
)